
.dotted-line {
  margin-top: 20px;
  border-bottom: 2px dashed #3b3b3b;
}
.tag {
  display: inline-block;
  margin-bottom: 3px;
  background-color: #606060;
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.2s;
  margin-left: 4px;
  &:hover {
    background-color: #4e4d4d;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    color: #bebebe;
  }
}
