@import '../vars';

.green {
  .registration-result {
    .registration-success,
    .registration-failed {
      background-color: #95ac7c;
      color: #fff;
    }
  }

  .registration {
    form {
      label {
        span {
          color: #1a1a1a;
        }
      }
      input {
        background: #fbfbfb;
        border-color: #dcdcdc;
      }
      .btn-check {
        color: #95ac7c;
        background-color: #fff;
        border-color: #fff;
      }
    }
    em {
      font-size: 12px;
      color: #999;
    }
  }
}
