@import './vars';
@import './fonts';

* {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body,
select {
  background-color: $bodyColour;
  font-family: 'GothamPro-Light';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.012em;
  line-height: 1.5;
  color: #cccccc;
  &::-webkit-scrollbar {
    width: 0.8em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #606060;
    border: 2px solid #494949;
    border-right: 0;
    border-radius: 15px 0 0 15px;
  }
  .page {
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
  }
  .body {
    background-color: $backColour;
    box-shadow:
      0 2px 6px 0 rgba(0, 0, 0, 0.11),
      0 0 35px 0 rgba(0, 0, 0, 0.06);
    border-radius: $sizeRadiusBody;
    position: relative;
  }
  .fixed {
    position: fixed;
    top: 0;
    transition: all 0.4s ease-in;
  }
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='file'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'],
  input[type='search'],
  input[type='tel'],
  input[type='color'] {
    outline: none;
    font-size: 14px;
    color: #ccc;
    display: inline-block;
    width: 300px;
    height: 40px;
    line-height: 22px;
    padding: 8px 15px;
    vertical-align: middle;
    border-radius: 4px;
    background: #343434bf;
    border: 1px solid #313131;
    transition: border 0.2s linear 0;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
  }
  [type='search']::-webkit-search-cancel-button,
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #313131;
    -webkit-text-fill-color: inherit;
    -webkit-background-color: #465a7e66;
  }

  input::placeholder {
    font-size: 14px;
    font-family: 'GothamPro-Light';
    font-weight: 600;
    color: #b7b7b7;
  }
  .page-title {
    font-size: 12px;
    border-bottom: 1px solid #3b3b3b;
    margin-left: $widthHeader;
    color: #7d7d7dd6;
    border-left: 1px solid #3b3b3b;
    line-height: 22px;
    padding: 28.5px 35px;
    a {
      color: #bdbdbd;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  main {
    border-left: solid #3b3b3b 1px;
    display: flex;
    margin-left: $widthHeader;
  }
  .content {
    width: 67.74%;
    min-height: 120vh;
    border-right: 1px solid #3b3b3b;
    .notifications {
      position: fixed;
      display: grid;
      right: 10px;
      top: 20px;
      z-index: 9999999;
      .notification {
        transform: translateX(-560px);

        position: relative;
        max-width: 500px;
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 20px;
        animation: showNotifications 0.5s ease forwards;
        background-color: #313131;
        padding: 11px 15px 9px;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px 0 15px 15px;
        margin-top: 12px;
        i {
          &:before {
            font-size: 1.3em;
            color: #95ac7c;
          }
        }
        .notification-text {
          margin-bottom: 10px;
          opacity: 0.8;
          h3 {
            font-size: 13px;
            margin-bottom: 5px;
          }
          p {
            margin-bottom: 0;
            font-size: 14px;
          }
        }
        .line-on-time {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          animation: timer 10s linear;
          height: 3px;
          background-color: #95ac7c;
          box-sizing: border-box;
        }
        border-radius: 15px 0 15px 15px;
        a {
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    @keyframes showNotifications {
      0% {
        opacity: 1;
        visibility: visible;
        transform: translateX(530px);
      }
      40% {
        transform: translateX(-5px);
      }
      80% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-100px);

        transform: translateX(-10px);
      }
    }
    @keyframes timer {
      to {
        width: 0%;
      }
    }
    @keyframes closeNotifications {
      0% {
        transform: translateX(-30px);
      }
      40% {
        transform: translateX(30px);
      }
      60% {
        transform: translateX(450px);
      }
      100% {
        transform: translateX(100px);

        opacity: 0;
        display: none;
      }
    }
    .loader-inner {
      position: fixed;
      width: calc(100vw + 60px);
      height: calc(100vh + 60px);
      top: -30px;
      left: -30px;
      right: -30px;
      bottom: 0;
      z-index: 9999;
      background-color: #474747;
      .loader {
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        z-index: 9999;
        width: 100px;
        height: 100px;
        opacity: 0.6;
        transition: opacity .2s;
        &:before {
          width: 100px;
          height: 100px;
          background-color: #3b3b3b;
          animation: load1 1s infinite ease;
        }
        &::after {
          width: 40px;
          height: 40px;
          background-color: #1a1a1a;
          animation: load2 1s infinite -0.32s ease;
        }
        &:before,
        &:after {
          border-radius: 50%;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      @keyframes load1 {
        0%,
        80%,
        100% {
          transform: translate(-50%, -50%) scale(1, 1);
        }
        40% {
          transform: translate(-50%, -50%) scale(0.6);
        }
      }
      @keyframes load2 {
        0%,
        80%,
        100% {
          transform: translate(-50%, -50%) scale(1, 1);
        }
        40% {
          transform: translate(-50%, -50%) scale(0.5);
        }
      }
    }
    .hide {
      opacity: 0;
      z-index: -1;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid #3b3b3b;
    margin-left: 80px;
    padding: 30px 50px;
    background-color: #474747;
    border-top: 1px solid #3b3b3b;
    border-radius: 0px 0px 8px 0px;
    font-size: 12px;
    color: #999;
    span {
      font-family: 'GothamPro-Black';
      font-weight: 700;
    }
    a:hover {
      color: #212121;
      text-decoration: underline;
    }
  }
  .btn {
    font-family: 'GothamPro-Bold';
    border-radius: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    background-image: -webkit-linear-gradient(top, #626262 0%, #626262 100%);
    background-color: #626262;
    text-align: center;
    outline: none;
    border-width: 0;
    color: inherit;
    font-size: 14px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #5d5c5c;
    background-image: -webkit-linear-gradient(top, #5d5c5c 0%, #818181 100%);
    transition: all 0.3s ease-in-out;
  }
  .block {
    margin: 35px 0;
    padding: 0 35px;
  }
}
@media (max-width: $breakpoint_xxl) {
  body {
    .page {
      padding: 10px;
    }
    .page-title {
      margin-left: calc($widthHeader - 20px);
      padding: 18.5px 30px;
    }
    main {
      margin-left: calc($widthHeader - 20px);
    }
    .footer {
      margin-left: calc($widthHeader - 20px);
      padding: 30px 30px;
    }
    .block {
      margin: 30px 0;
      padding: 0 30px;
    }
  }
}
@media (max-width: $breakpoint_l) {
  body {
    .content {
      width: 100%;
      border-width: 0;
    }
  }
}
@media (max-width: $breakpoint_md) {
  body {
    .page {
      padding: 0;
    }
  }
}
@media (max-width: $breakpoint_sm) {
  body {
    .page-title {
      margin-left: 0;
      padding: 20px 20px;
    }
    main {
      border-left: none;
      display: flex;
      margin-left: 0;
    }
    .content {
      .notification {
        max-width: 200px;
      }
    }
    .block {
      margin: 0;
      padding: 20px;
    }
    .footer {
      margin-left: 0;
      padding: 20px;
    }
  }
}
@import './NewNovels/style.newnovels';
@import './aside/style.aside';
@import './header/style.header';
@import './tags/style-tags';
@import './contacts/style.contacts';
@import './rules/style.rules';
@import './registration/style.registration';
@import './bookmarks/style.bookmarks';
@import './novels/style.novels';
@import './account/style.account';
@import './themes/style.themes-index';
